body,html{
    overflow:hidden;
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
    background:#F9F9F9;
}
/*开始的小nav*/
.kTop{
    height:30px;
    background:#333333;
    width:100%;
}
.KwrapB{
    width:1080px;
    min-width:1080px;
    margin:0 auto;
}
.header-nav {
    float: left;
    height: 30px;
    line-height: 30px;
}
.header-nav li,.header-user li{
    float:left;
    font-size: 12px;
}
.header-nav a,.header-user a {
    color: #ccc;
}
.header-nav a:hover,.header-user a:hover{
    color:#fff;
}
.header-nav b ,.header-user b{
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 18px;
    background: #cbcbcb;
    vertical-align: middle;
}
.header-user b {
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 18px;
    background: #ccc;
    vertical-align: middle;
}
.header-user > li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #cdcdcd;
    vertical-align: middle;
}
.user-login {
    margin-right: 20px;
}
/*hover下的二维码*/
.user-app {
    position: relative;
    width:120px;
}
.user-app i {
    position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 15px;
    margin: 0 auto;
    background-size: 100% 100%;
}
.user-app i {
    position: relative;
    z-index: 1;
    display: block;
    width: 30px;
    height: 15px;
    margin: 0 auto;
    background: url('../images/triangle.png') no-repeat;
    background-size: 100% 100%;
}
.block{
    width:150px;
    display:none;
    position:absolute;
    left:-33%;
    z-index:10;
}
.user-app:hover .block{
    display:block;
}
.user-app dl {
    padding: 15px 10px 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
}
.user-app dt {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url('../images/appLogo.png') no-repeat;
}
.user-app dd {
    margin-top: 10px;
    line-height: 24px;
    font-size: 12px;
    color: #523669;
    text-align: center;
}
.user-app p {
    width: 130px;
    height: 130px;
    margin: 10px auto 0;
    background: url('../images/app.png') no-repeat;
    background-size: 100% 100%;
}
 /*二维码*/
.msg-center {
    display: inline-block;
    height: 30px;
    padding-left: 20px;
    line-height: 30px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: url('../images/msgcenter.png') no-repeat 2px 9px;
}
.msg-title{
    margin-left:12px;
}
#unread {
    margin-left: 5px;
    margin-right: -5px;
    display: inline-block;
    width: 25px;
    position: relative;
    left: -10px;
}
.user-shopCar a {
    display: inline-block;
    width: 90px;
    padding-left: 20px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #523669 url('../images/shopCar.png') no-repeat 15px 7px;
}
/*开始的小nav*/
/*主页的主nav开始*/
.nav {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.05);
}
.nav-logo{
    width: 231px;
    height: 98px;
    background:url("../images/logo.png") 0 center no-repeat;
}
.nav-search {
    position: relative;
    float: right;
    margin-top: 30px;
}
.nav-search p {
    position: relative;
    z-index: 2;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}
.nav-search input {
    width: 298px;
    height: 38px;
    padding-left: 10px;
    border: none;
    line-height: 38px;
    color: #333;
    font-size: 16px;
    border-radius: 3px;
    vertical-align: middle;
    outline:none;
}
.nav-search span {
    display: inline-block;
    width: 39px;
    height: 38px;
    border-left: 1px solid #ccc;
    vertical-align: middle;
    background: url('../images/search.png') center center no-repeat;
    cursor: pointer;
}
.onepage-pagination {
    position: fixed;
    right: 76px;
    top: 30%;
    z-index: 4;
    height: 250px;

}
li {
    position: relative;
}
.none{
    display:none;
}
.onepage-pagination .select a{
   
    background: #523669;
    border:1px solid #F8F7F8;
}
/* .onepage-pagination li a:active{ background: #523669;
    border:1px solid #F8F7F8;} */
.onepage-pagination li:last-child a{
    display:none
}
.onepage-wrapper {
    width: 100%;
    height: 640px; 
    display: block;
    position: relative;
    z-index: 3;
    overflow:hidden;
    top:20px;
    -transition: all 1s linear;
}
.onepage-pagination li a {
    width: 8px;
    height: 8px;
    display: block;
    background:#B4A8BD;
    border-radius:50%;
    margin-bottom:50px;
    border:1px solid #fff;
}
.onepage-wrapper .section {
    width: 100%;
    height: 6000px; 
    position: absolute; 
    -transition: all 1s linear;
    left: 0px;
}
.section .outer{
    width: 100%;
    height: 6000px;
    overflow:auto;
    -transition: all 1s linear;
} 
.section>.outer>div:first-child{
    width:100%;
    height:644px;
}
.section>.outer>div:first-child img,.section .outer div:nth-child(2) img,.section .outer div:nth-child(3) img,.section .outer div:nth-child(4) img{
    width:100%;height:644px;
    transition: all 1s linear;
}
.section>.outer>div:nth-child(2){
    -background:url("../images/minisite/20150310061107.jpg");
    width:100%;
    height:644px;
    -webkit-background-size: cover;
    background-size: cover;
}
.section>.outer>div:nth-child(3){
    width:100%;
    height:644px;
  }
.section>.outer>div:nth-child(4){
    -background:url("../images/minisite/20150310062206.jpg");
    width:100%;
    height:644px;
}
.section>.outer>div:nth-child(5){
    background:#fff;
    width:100%;
    height:644px;
    margin-top:194px;
}
.footer{
    height:413px;
    background:#fff;
}

.footerServe{
    width:1080px;
    margin:0 auto;
    height:120px;
    border-bottom:1px solid #ccc;
}
.footerServe li {
    float: left;
    width: 270px;
    height: 120px;
}
.footerServe dl {
    line-height: 120px;
    text-align: center;
}
.footerServe dt {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-left: 46px;
}
.serve-make {
    background: url('../images/serve-make.png') no-repeat;
    background-size: 100% 100%;
}
.serve-backage {
    background: url('../images/serve-backage.png') no-repeat;
    background-size: 100% 100%;
}
.serve-pay {
    background: url('../images/serve-pay.png') no-repeat;
    background-size: 100% 100%;
}
.serve-refund {
    background: url('../images/serve-refund.png') no-repeat;
    background-size: 100% 100%;
}
.footerServe dd{
    display: inline-block;
    font-size: 16px;
    font-family:"Mircrosoft YaHei";
    margin-left: 15px;
}
.footerServe dd a{
    color: #333;
}
.footer-main {
    
    width:1080px;
    margin:0 auto;
}
.footer-detail {
    float: left;
    padding-left: 50px;
    text-align: left;
    height:200px;
    border-right: 1px solid #ccc;
    margin-top:30px;
    height:144px;
}
.footer-detail > li {
    float: left;
    margin-right: 120px;
}
.footer-detail h2 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
.footer-detail ul {
    margin-top: 30px;
}
.footer-detail ul li {
    margin-bottom: 10px;
}
.footer-detail a {
    font-size: 12px;
    font-family:"Mircrosoft YaHei";
    color: #808080;
}
.footer-detail a:hover{
    color:#333;
}
.footer-detail p {
    width: 105px;
    height: 105px;
    margin-top: 15px;
    background: url('../images/app.png') center center no-repeat;
    background-size: 100% 100%;
}

.footer-contact{
    width:250px;
    margin-top: 30px;
    text-align:center;
}
.footer-contact dt {
    font-size: 16px;
    font-family: "Mircrosoft YaHei";
    color: #333;
}
.footer-contact dd {
    margin-top: 30px;
    font-size: 12px;
    color: #808080;
}
.footer-info {
    margin-top: 40px;
    text-align:center;
    font-size: 12px;
    font-family: "Mircrosoft YaHei";
    color: #808080;
}
.footer-info p {
    margin-bottom: 10px;
}
.footer-info span {
    display: inline-block;
    margin: 0 10px;
}
.footer-info a {
    color: #808080;
}
/*右侧栏*/
.rightBar {
    position: fixed;
    left: 52%;
    bottom: 100px;
    z-index: 101;
    margin-left: 582px;
    height: 144px;
}
.rightBar li {
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.rightBar-top {
    display: none;
    display:inline-block;
    border-radius:5px;
    background: url("../images/rightBar-top.png") 0 center no-repeat;
    display: none;
}
.rightBar-top:hover {
    background: url("../images/rightBar-topActive.png") 0 center no-repeat;
}
.rightBar-code {
    position: relative;
    background: url("../images/rightBar-code.png") 0 center no-repeat;
}
.rightBar-code:hover {
   background: url("../images/rightBar-codeActive.png") 0 center no-repeat;
}
.rightBar-code:hover div {
    display: block;
}
.rightBar-code div {
    position: absolute;
    top: -65px;
    left: -160px;
    display: none;
}
.rightBar-code span {
    position: absolute;
    top: 50%;
    right: -15px;
    z-index: 100;
    display: inline-block;
    width: 15px;
    height: 30px;
    margin-top: -14px;
    background-size: 100% 100%;
    background:url('../images/right-triangle.png');
}
.rightBar-code dl {
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow:0 1px 10px 4px rgba(0,0,0,.05);
}
.rightBar-code dt {
    width: 130px;
    height: 130px;
    background: url("../images/app.png") center center no-repeat;
    background-size: 100% 100%;
}
.rightBar-code dd {
    margin-top: 10px;
    text-align: center;
    color: #523669;
    font-size:14px;
    font-family: "Mircrosoft YaHei";
}
/*右侧栏结束*/